---
layout: gridlay
---

<h1> {{ page.title }} </h1>
<div class="rowl1">
    <div style="float: left">
      <img src="{{ site.url }}{{ site.baseurl }}/workshops/{{ page.image }}" class="img-responsive" style="border-radius: 5px; width: 280px;" />
      <div style="max-width: 280px">
        {% if page.website %}<a href="{{ page.website }}" target="_blank"><button class="btn-pdf">WEBSITE</button></a>{% endif %}
        {% if page.publication %}<a href="{{ page.publication }}" target="_blank"><button class="btn-doi">PUBLICATION</button></a> {% endif %}
        {% if page.code %}<a href="{{ page.code }}" target="_blank"><button class="btn-code">CODE</button></a> {% endif %}
        {% if page.suppmat %}<a href="{{ page.suppmat }}" target="_blank"><button class="btn-suppmat">SUPPLEMENT</button></a> {% endif %}
      </div>
    </div>
    <h4>{{ page.authors }}</h4>
    <h5><em>{{ page.display }}</em> at {{page.conf}}, {{page.place}}{% if page.online %} (online){% endif %} {% if page.year %} ({{page.year}}){% endif %}</h5>
    {% if page.abstract %}
      <a class="btn-abstract" style="text-decoration:none; color:#ebebeb; hover:#ebebeb; pointer-events: none;" role="button">ABSTRACT</a> {{ page.abstract }}
    {% endif %}

    {% assign contentwords = page.content | number_of_words %}
    {% if contentwords > 0 %}
      {{ page.content | markdownify }}
    {% endif %}
</div>
